<div class="container-fluid">
	<div style="color: blue;">
		<h1>{{title}}</h1>
		<h3>{{description}}</h3>
	</div>

	<div style="width: 300px;">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="item">SSID</label> <input type="text"
					class="form-control"  id="item"
					required [(ngModel)]="itemValue" name="item"><br>

          <label for="item">Latitude</label> <input type="text"
  					class="form-control" id="item"
  					required [(ngModel)]="lat" name="lat"><br>

            <label for="item">Longitude</label> <input type="text"
    					class="form-control" id="item"
    					required [(ngModel)]="long" name="long"><br>

              <label for="item">Name</label> <input type="text"
      					class="form-control"  id="item"
      					required [(ngModel)]="name" name="name">
			</div>

			<div class="btn-group">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>

	<h2>Content from Firebase</h2>
	<div class="col-md-3">
		<pre *ngFor="let item of items | async">{{item.content}} </pre>
	</div>
</div>


<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

  <body>
    <h3>HotspotPlot Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7NZgPTPxTJSUEe2iG40vHkZ6uSK6WcY8&callback=initMap">
    </script>
  </body>
